[submodule "pkgbuilds/boost1.86"]
	path = pkgbuilds/boost1.86
	url = https://aur.archlinux.org/boost1.86.git
[submodule "pkgbuilds/futura-icon-pack-git"]
	path = pkgbuilds/futura-icon-pack-git
	url = https://aur.archlinux.org/futura-icon-pack-git.git
