[Desktop Entry]
Type=Application
Version=1.0
Name=Install ZestISO
Name[da]=Installer ZestISO
GenericName=Live Installer
GenericName[da]=Live-installationsprogram
Comment=Install the operating system to disk
Comment[da]=Installer styresystemet på disk
Comment[de]=ZestISO installieren
Exec=/usr/bin/zestiso-installer
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
